.addChildButton{
  background-color:#FB9300;
  border-radius: 30px;
  color: #efebdc;
  min-height: 30px;
  min-width: 120px;
  outline:0;
  cursor: pointer;
  font-size: small;
  margin-top: 20px;

}

.welcome{
    color:#29a3a3;
    text-shadow: .1px .1px .1px #333;
    padding-left: 5px;
    
}
/* h2{
    color: #F56416
} */

.responsibilityHeader{
    background-color:#FB9300;
    height: 75px;
    padding:10px;
    /* border-radius: 0.25em; */
   box-shadow: 2px 2px 2px 2px #D1B7A5;
   color: white;
   text-shadow: .5px .5px .5px #333;
}

.childDisplay{
    /* background-color: #F9DD0C; */
    height: 140px;
    padding: 50px;
    background-image: url("/..../../../images/paint_drip.jpg");
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    position: center;
    
}
.addChildButton:hover{
    background-color:#efebdc;
    color: #FB9300;
}
.addChildButton :hover {
  background-color: #FB9300;
  
}

.childNameButton{
    color: #DD3355;
    border-color: #DD3355;
    border-radius: 30px;
    padding: 15px;
    margin: 15px;
    min-width: 140px;
    font-weight: bold;
    font-size: larger;
    background-color:#efebdc;
    text-shadow:  .1px .1px #333;

}

.childNameButton :hover {
  background-color: #f8d3db;
}
.childNameButton:hover{
    background-color:#f8d3db;
    color: #DD3355;
}