.addChildButton{
  background-color:#FB9300;
  border-radius: 30px;
  /* color: #efebdc; */
  min-height: 30px;
  min-width: 120px;
  outline:0;
  cursor: pointer;
  font-size: small;
  margin-top: 20px;

}

.welcome{
    color:#29a3a3
    
}
/* h2{
    color: #F56416
} */

.responsibilityHeader{
    background-color:yellowgreen;
    height: 75px;
    padding:10px
}

.childDisplay{
    background-color: #F9DD0C;
    height: 125px;
    padding: 50px
}
.addChildButton:hover{
    background-color:#efebdc;
    color: #FB9300;
}
.addChildButton :hover {
  background-color: #FB9300;
  
}

.childNameButton{
    color: #DD3355;
    border-color: #DD3355;
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
    min-width: 140px;
    font-weight: bold;
    font-size: large;

}

.childNameButton :hover {
  background-color: #f8d3db;
}
.childNameButton:hover{
    background-color:#f8d3db;
    color: #DD3355;
}