body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #F7F5ED;
    /* background-image: url("/..../../../images/solo_app_background_image.png");
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;  */
}

.alert {
    background-color: #29a3a3;
    margin: 50px;
}

form {
    background-color: #efebdc;
    width: 50%;
    /* height: 250px; */
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    min-width: 200px;
    max-width: 400px;
    flex-direction: row;

}

input {
    margin: 10px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color:  #29a3a3;
  border-radius: 30px;
  border-color: #29a3a3;
  color: #efebdc;
  min-height: 30px;
  min-width: 120px;
  outline:0;
  cursor: pointer;
  font-size: medium;
}


.log-in:hover{
    background-color:#29a3a3;
    color: #efebdc;
}
.log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

@media screen and (min-width: 40em) {
    .gif {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .gif {
        max-width: calc(25% - 1em);
    }
}

.container {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .container {
        max-width: 52em;
    }
}