  .newUser {
    
    width: 30%;
    height: 75px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
  }

  .signUpButton {
  background-color:  #379935;
  border-radius: 30px;
  color: #efebdc;
  min-height: 30px;
  min-width: 120px;
  outline:0;
  cursor: pointer;
  font-size: small;
  }

  .signUpButton:hover{
    background-color: #efebdc;
    color: #379935;
}
.signUpButton :hover {
  background-color: #efebdc;
}

.parentHeader{
    /* border-radius: 8px;
    margin: 12px;
    background-color: #efebdc; */
    color: #29a3a3;   
}

/* Login Form */
form{
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;

}
