  .newUser {
    background-color: #FFD816;
    width: 30%;
    height: 75px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
  }

  /* .signUpButton {
      background-color: ;
  } */